<!DOCTYPE html>
<html>
  <head>
    <title>Rack from scratch</title>
  </head>
  <body>
    <div id="container">
      <h1>Hello <%= greet_name %></h1>
      <h1>Current Time: <%= Time.now %></h1> 
        <form method="post" action="/change">
          <input name="name" type="text">
          <input type="submit" value="Change Name">
        </form>
    </div>
  </body>
</html>