<!DOCTYPE html>
<html>
  <head>
    <title>Rack from scratch</title>
  </head>
  <body>
    <div id="container">
      <h1>Hello World</h1>
      <h1>Current Time: <%= Time.now %></h1> 
    </div>
  </body>
</html>